/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Related CSS Values */
.font-embeddable {
  color: var(--embeddable-font-color);
  font-family: var(--embeddable-font-family);
}
.embeddable-table-header {
  color: var(--embeddable-table-header-color);
}

/* Keep MacOs from making web fonts look weirdly bolded */
* {
  -webkit-font-smoothing: antialiased;
}

/* Handle some z-indexing issues */
:host(.on-top) {
  z-index: 1;
}

/* Every component has an inside-card class */
:host(.inside-card) {
  box-shadow: var(--embeddable-container-boxShadow);
  border-radius: var(--embeddable-container-borderRadius);
  padding: var(--embeddable-container-padding) !important;
  border: var(--embeddable-container-border);
  background-color: var(--embeddable-container-backgroundColor);
}

/* Day Picker */
.rdp-day_button {
  border-radius: var(--embeddable-controls-datepicker-radiuses-button) !important;
}

.rdp-week_number {
  border-radius: var(--embeddable-controls-datepicker-radiuses-weekNumber) !important;
}

/* DAY MODIFIERS */
.rdp-today:not(.rdp-outside) {
  color: var(--embeddable-controls-datepicker-font-colors-today) !important;
}

.rdp-hidden {
  visibility: hidden;
  color: var(--embeddable-controls-datepicker-font-colors-rangeStart) !important;
}

.rdp-range_start {
  background: var(--embeddable-controls-datepicker-backgrounds-colors-rangeStart) !important;
}

.rdp-range_start .rdp-day_button {
  background-color: var(--embeddable-controls-datepicker-backgrounds-colors-rangeStart) !important;
  color: var(--embeddable-controls-datepicker-font-colors-rangeStart) !important;
}

.rdp-range_middle {
  background-color: var(--embeddable-controls-datepicker-backgrounds-colors-rangeMiddle) !important;
}

.rdp-range_middle .rdp-day_button {
  color: var(--embeddable-controls-datepicker-font-colors-rangeMiddle) !important;
}

.rdp-range_end {
  background: var(--embeddable-controls-datepicker-backgrounds-colors-rangeEnd) !important;
  color: var(--embeddable-controls-datepicker-font-colors-rangeEnd) !important;
}

.rdp-range_end .rdp-day_button {
  color: var(--embeddable-controls-datepicker-font-colors-rangeStart) !important;
  background-color: var(--embeddable-controls-datepicker-backgrounds-colors-rangeEnd) !important;
}

.rdp-day.rdp-range_end {
  border-radius: var(--embeddable-controls-datepicker-radiuses-buttonEnd) !important;
}

.rdp-day.rdp-range_start {
  border-radius: var(--embeddable-controls-datepicker-radiuses-buttonStart) !important;
}

/* Spinner */
.spinner {
  -webkit-animation: spin 500ms ease-in-out infinite;
  -moz-animation: spin 500ms ease-in-out infinite;
  animation: spin 500ms ease-in-out infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Handle Text Overflow Cases */
.text-overflow-dynamic-container {
  position: relative;
  max-width: 100%;
  padding: 0 !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  vertical-align: text-bottom !important;
}
.text-overflow-dynamic-ellipsis {
  position: absolute;
  white-space: nowrap;
  overflow-y: visible;
  overflow-x: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  top: 0;
  left: 0;
}
.text-overflow-dynamic-container:after,
.text-overflow-dynamic-ellipsis:after {
  content: '-';
  display: inline;
  visibility: hidden;
  width: 0;
}

/* Multi-Selects */
.multiSelectContainer {
  display: flex;
  flex-wrap: wrap;
}
.multiselectItem {
  margin-left: 4px;
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 100px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  max-width: 150px;
  margin: 0px 4px 4px 0px;
  justify-content: center;
}
.multiSelectInner {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Input Placeholder */
input::placeholder,
[placeholder] {
  text-overflow: ellipsis;
  padding-right: 1.5rem;
}
